<nav class="d-block align-middle">
 
      <a class="d-inline-block link-dark" href="/" title="Homepage" alt="Homepage">
        <i class="bi bi-house-fill"></i>
      </a>
        <% pages.activePage  %> 
</nav>
 